 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  font-family: "Playfair Display", serif;
}

nav {
 color: rgb(6, 70, 6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 1.5rem 3rem;
  z-index: 10;
  box-sizing: border-box;
}

.nav-logo{
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.nav-logo-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}


.nav-logo-text {
  font-family: 'Playball', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  
}

/* Nav links — sit on the right */
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}


nav a {
  color: rgb(200, 232, 200);
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s;
}

nav a:hover {
  color: #a8d0ff;
}

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('bamboo-sitting-area.jpg');
    background-size: cover;
    background-position: center;
}

.hero-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    transition:background 0.5s ease ;
}

.hero:hover .hero-overlay{
    background: rgba(0, 0, 0, 0.2);
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: left;
    padding: 3rem 2rem;
    max-width: 560px;
}

.hero-title{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.hero-title span{
    display: inline-block;
    transition: transform 0.35s ease, color 0.35s ease;
    cursor: default;
 }

 .hero-title span:hover{
    color: white;
    transform: translateY(-5px) scale(1.05); 
 }

.hero-subtitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    line-height: 1.7;
    margin-bottom: 2.5rem;
 }   

 .hero-subtitle em{
    font-style: normal;
    display: inline-block;
    transition: color 0.3s , transform 0.3s;
    cursor: default;
 }

 .hero-subtitle em:hover{
    color: rgb(17, 91, 67);
    transform: translateY(-2px);
 }

 .hero-btn{
    padding: 16px 48px;
    background: transparent;
    color: rgb(129, 168, 129);
    border: 1.5px solid rgba(255,255,255,0.7);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
 }

 .hero-btn:hover{
    background: rgba(255,255,255,0.15);
    border-color: rgb(6, 49, 6);
    transform: translateY(-3px);
 }
 
 .hero-btn:active{
    transform: translateY(0);
 }

 /*hamburger toggle menu */
 .hamburger{
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 4px;
 }

.hamburger span{
  display: block;
  width: 25px;
  height: 2px;
  background: rgb(209, 233, 209);
  border-radius: 2px;
  transition:all 0.3s;
 }

 .hamburger.is-open span:nth-child(1){
  transform: translateY(7px) rotate(45deg);
 }

 .hamburger.is-open span:nth-child(2){
  opacity:0;
 }
 
 .hamburger.is-open span:nth-child(3){
  transform: translateY(-7px) rotate(-45deg);
 }

 .mobile-menu{
  display: none;
  position: absolute;
  top: 70px;
  left:0;
  width:100%;
  background: rgba(9, 20, 40, 0.97);
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: 1.2rem;
  z-index:20;
 }

 .mobile-menu.open{
  display:flex;
 }

 .mobile-menu a{
  color:rgba(255,255,255,0.85);
  text-decoration: none;
  font-size:14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 0.5px solid rgba(255,255,255,0.1);
  padding-bottom: 1rem;
  transition:color 0.3s;
 }

 .mobile-menu a:hover{
  color:#fff
 }